<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store | Login</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <style>

        h1.custom-font {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #c30404;
            font-size: 5.5rem;
        }

        .custom-card {
            background-color: #f5f5f5;
        }

        .tight-spacing {
            margin-top: -10px;
        }

        .lower-content {
            margin-top: 180px;
        }

    </style>

</head>


<body class="bg-white">
    <div class="px-4 py-5 px-md-5 text-lg-start lower-content">
        <div class="container">
            <div class="row gx-lg-10 align-items-center">
                <div class="col-md-6">
                    <h1 class="my-1 display-3 fw-bold ls-tight custom-font">
                        ABSENOT ARSENAL
                    </h1>
                    <p class="tight-spacing" style="color: hsl(217, 10%, 50.8%)">
                        Precision, Protection, Perfection.
                    </p>
                </div>

                <div class="col-md-6 mb-5 mb-lg-0 ">
                    <div class="card custom-card">
                        <div class="card-body py-5 px-md-5">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label>Username</label>
                                    <!-- <input type="text" class="form-control" placeholder="Username"> -->
                                    {{ form.username }}
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    {{ form.password }}
                                </div>

                                <!-- Submit button -->
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block mb-4 rounded- py-3 text-white" style="background-color: #c30404; border-color: #c30404;">
                                    Sign up
                                </button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
